# Compiled files
*.class
bin/

# Logs
*.log

# Eclipse / IDE
.settings/
.classpath
.project

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Archives
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Crash logs
hs_err_pid*
replay_pid*